/*
    home.css: This website contains selectors only used in home.css

    All pages share the styles on index.css but you should create 
    one more css for each page that will contain the selected used 
    on that page only (the ones not reused in other pages).
*/

/* carousel imagen  */
.imgCarousel {
  max-width: 100%;
  width: 100%;
  object-fit: cover;
}

.carousel-item {
  max-height: 700px;
  min-height: 200px;
}

/* buscador home */

.searchIngredients {
  outline: none !important;
  border: none;
  border-radius: 0;
  display: flow-root;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #0b0b0b;
}

/* botton buscador home */
.botonreceta {
  border-width: 0px 0px 1px 0px;
  font-family: "Raleway", sans-serif;
  font-weight: 500px;
  position: relative;
  display: inline-block;
  text-align: center;
  padding: 0px 5px;
  text-decoration: none;
  color: #151516;
  font-weight: 500;
  background: white;
  cursor: pointer;
  transition: ease-out 0.5s;
  box-shadow: inset 0 0 0 0 #2c2c2f;
}

.botonreceta:hover {
  color: white;
  box-shadow: inset 0 -100px 0 0 #0d0d0e;
}

.botonreceta:active {
  transform: scale(0.9);
}
