/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
/* body */
html,
body {
    /* background: #f6f4f4; */
    background: rgb(250, 249, 249);

    font-family: "Karla", sans-serif;
}

h1,
h2,
h3,
h4 {
    font-family: "EB Garamond", serif;
}

h5 {
    font-weight: 600;
    font-family: "Karla", sans-serif;
    font-size: 14px;
}

.nuevasrecetas,
.recetaspopu {
    font-family: "Karla", sans-serif;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.3em;
}

.card-title {
    font-family: "EB Garamond", serif;
    font-size: 18px;
}

.textAboutus {
    font-family: "Karla", sans-serif;
    font-size: 14px;
}

.text3 {
    font-family: "Karla", sans-serif;
}

::placeholder {
    font-family: "Karla", sans-serif;
}

/* navbar */
.navbar {
    background: rgb(250, 249, 249);
}

/* userName navbar */
.userNavbar {
    color: #428e9e;
}

/* logoCinnamoon */
.img-logo {
    color: #302c2c;
    transition: all 0.4s linear;
}

.img-logo:hover {
    transform: scale(1.05);
}

/* home */
.title-all {
    letter-spacing: 4px;
    font-family: "Raleway", serif;
    border-bottom: 1px solid black;
    line-height: 50px;
}

.title-all2 {
    letter-spacing: 4px;
    font-family: "Raleway", serif;
}

/* recipe-component */
/* card recipe */
.card {
    background: white;
    width: 90%;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.4s linear;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
}

.img-recipe {
    object-fit: cover;
    width: 100%;
    max-width: 460px;
    height: 200px;
}

/* iconosRecipe */
.love2 {
    color: #d9d9d9;
    padding-right: 10px;
}

.love:focus {
    outline: none;
    box-shadow: none;
}

.love2:focus {
    outline: none;
    box-shadow: none;
}

/* recipefav-component */
.recipe,
.recipeFav {
    padding-top: 30px;
}

.img-fav {
    max-height: 35vh;
}

/* recipelist-component */
.scroll-container {
    padding-top: 20px;
    padding-bottom: 20px;
    overflow-x: scroll;
    scrollbar-width: thin;
}

/* recipeDetail */
.title-detail {
    font-family: "EB Garamond", serif;
    letter-spacing: 4px;
    border-bottom: 1px solid rgb(197, 189, 189);
    line-height: 50px;
    color: black;
}

/* cardRecipeDetail */
.card-detail .front {
    transform: perspective(600px) rotateY(0deg);
}

.card-detail .back {
    transform: perspective(600px) rotateY(180deg);
}

.card-detail:hover .front {
    transform: perspective(600px) rotateY(180deg);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
}

.card-detail:hover .back {
    transform: perspective(600px) rotateY(360deg);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
}

.box-title {
    margin-top: 80px;
}

/* cardRecipeDetail */
.card-detail .front {
    transform: perspective(600px) rotateY(0deg);
}

.card-detail .back {
    transform: perspective(600px) rotateY(180deg);
}

.card-detail:hover .front {
    transform: perspective(600px) rotateY(180deg);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
}

.card-detail:hover .back {
    transform: perspective(600px) rotateY(360deg);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
}

.card-text3 {
    font-family: "Karla", sans-serif;
    color: #000000;
    font-size: 18px;
    font-weight: 300;
}

.card-detail {
    margin-top: 70px;
    width: 90%;
    height: 90%;
    position: relative;
}

.card-detail div {
    backface-visibility: hidden;
    transition: all 0.8s linear;
}

.image-detail {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.text-back {
    color: #000000;
    font-size: 18px;
    font-weight: 500;
}

ul {
    text-align: center;
    list-style: none;
}

.front,
.back {
    height: 100%;
    width: 100%;
    cursor: pointer;
    overflow: hidden;
    position: absolute;
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.25);
}

.back {
    background-color: white;
    text-align: justify;
    opacity: 0.5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title-back {
    letter-spacing: 4px;
    text-decoration: underline;
    color: #000000;
    font-family: "Font Awesome 5 Free";
    font-weight: 300;
}

.time {
    border-top: 1px solid rgb(64, 66, 64);
    border-width: thin;
    line-height: 50px;
    font-family: "Font Awesome 5 Free";
    font-weight: 300;
}

/* trivia */
.title-trivia {
    letter-spacing: 4px;
    border-bottom: 1px solid rgb(197, 189, 189);
    line-height: 50px;
    color: black;
}

.name-trivia {
    color: #3c3939;
}

.card-ingredient {
    text-align: justify;
    margin-top: 100px;
    background: white;
    box-shadow: 0px 15px 15px -15px rgba(116, 115, 115, 0.25);
    overflow: hidden;
    cursor: pointer;
}

/* userLogin-component */
#registration {
    width: 100%;
}

.input-reg {
    border: none;
    border-bottom: 1px solid rgb(161, 160, 160);
    border-width: thin;
    background: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 70%;
    outline: none;
}

.input-reg::placeholder {
    opacity: 0.6;
    font-family: "Font Awesome 5 Free";
    font-weight: 300;
}

.input-reg:focus {
    border-bottom: 1px solid rgb(161, 160, 160);
    box-shadow: 0px 15px 15px -15px rgba(116, 115, 115, 0.25);
    transition: all 0.3s ease;
}

/* recipeAll-component */
#recipes {
    margin-top: 80px;
}

/* imagenRecipeAll */
.categories {
    width: 20px;
    height: 20px;
}

/*pagina usuario*/
.header {
    background: rgb(250, 249, 249);
    opacity: 0.98;
}

.hero-title {
    letter-spacing: 4px;
    border-bottom: 1px solid rgb(148, 142, 142);
}

/* divfooter */
.diverse {
    background: #e6ded3;
    margin-top: 5rem;
}

.diverse2 {
    background: #c2d7db;
    margin-top: 5rem;
}

.diverse3 {
    background: #fbfafb;
}

.imgfooter1 {
    background: #efe9ef;
    /* height: 400px; */
}

.imgfooter2 {
    background: rgb(250, 249, 249);
    /* height: 400px; */
}

/* images footer */
.img-footer {
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.25);
}

/*iconosfooter */
.instagram,
.tweet,
.pinterest {
    height: 20px;
    width: 20px;
}

/* button Detalle */
.buttonDetail {
    font-family: "Raleway", sans-serif;
    position: relative;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    padding: 0px 5px;
    font-size: 16px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #151516;
    font-weight: 500;
    background: white;
    cursor: pointer;
    transition: ease-out 0.5s;
    box-shadow: inset 0 0 0 0 #0d0d0e;
}

.buttonDetail:hover {
    color: white;
    box-shadow: inset 0 -100px 0 0 #0d0d0e;
}

.buttonDetail:active {
    transform: scale(0.9);
}

/*boton registro*/
.ctaregister {
    text-decoration: none;
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
}

.ctaregister:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #b1dae7;
    width: 40px;
    height: 40px;
    transition: all 0.3s ease;
}

.ctaregister span {
    position: relative;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: black;
}

.ctaregister svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: black;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}

.ctaregister:hover:before {
    width: 100%;
    background: #428e9e;
}

.ctaregister:hover svg {
    transform: translateX(0);
}

.ctaregister:active {
    transform: scale(0.95);
}

/* button category */
.ctaCategory {
    border: none;
    background: none;
    text-decoration: none;
}

.ctaCategory span {
    padding-bottom: 7px;
    letter-spacing: 4px;
    font-size: 18px;
    padding-right: 15px;
    text-transform: uppercase;
}

.hover-underline-animation {
    position: relative;
    color: black;
    padding-bottom: 20px;
}

.hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1.5px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.ctaCategory:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* button userLoging Navbar */

.ctaLoging {
    font-size: 14px;
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-weight: 800;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
}

.ctaLoging:focus,
.ctaLoging:hover {
    color: rgba(90, 65, 26, 0.6);
}

.ctaLoging:focus:after,
.ctaLoging:hover:after {
    width: 100%;
    left: 0%;
}

.ctaLoging:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: rgba(90, 65, 26, 0.6);
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}

/* boton modo noche Navbar */
.ctamoon {
    font-size: 14px;
    color: black;
    cursor: pointer;
    font-weight: 800;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
}

.ctamoon:focus,
.ctamoon:hover {
    color: #4094a5;
}

.ctamoon:focus:after,
.ctamoon:hover:after {
    width: 100%;
    left: 0%;
}

.ctamoon:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #4094a5;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}

/*boton login*/
.ctalogin {
    text-decoration: none;
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
}

.ctalogin:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #b1dae7;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
}

.ctalogin span {
    position: relative;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: black;
}

.ctalogin svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: black;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}

.ctalogin:hover:before {
    width: 100%;
    background: #428e9e;
}

.ctalogin:hover svg {
    transform: translateX(0);
}

.ctalogin:active {
    transform: scale(0.95);
}

/* button Crear receta , createRecipe*/
.ctaNewrecipe {
    text-decoration: none;
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
}

.ctaNewrecipe:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #b1dae7;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
}

.ctaNewrecipe span {
    position: relative;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: black;
}

.ctaNewrecipe svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: black;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}

.ctaNewrecipe:hover:before {
    width: 100%;
    background: #428e9e;
}

.ctaNewrecipe:hover svg {
    transform: translateX(0);
}

.ctaNewrecipe:active {
    transform: scale(0.95);
}

/* botonreceta */

.botonreceta {
    border: none;
    border-radius: 0px 8px 8px 0px;
}

/* button favUser ,button tableUser*/
.ctaUser {
    text-decoration: none;
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
}

.ctaUser:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #b1dae7;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
}

.ctaUser span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: black;
}

.ctaUser svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: black;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}

.ctaUser:hover:before {
    width: 100%;
    background: #428e9e;
}

.ctaUser:hover svg {
    transform: translateX(0);
}

.ctaUser:active {
    transform: scale(0.95);
}

/*scrollbar*/

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #b8b4b4;
}

::-webkit-scrollbar-corner {
    background: #b8b4b4;
}

/*registro y logueo container border*/

/*formulario de login y registro. user area*/

.estilofoto {
    width: 15%;
    height: 75%;
}

.container_form {
    position: relative;
    z-index: 1;
    background: #ffffff;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.container_form input {
    font-family: "Karla", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

/* Form create Recipe */
.formCreateRecipe {
    background: white;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
}

/* createNew recipe explication */
.card-newrecipe {
    width: 550px;
    height: 130px;
    transition: all 0.5s;
    box-shadow: 15px 15px 30px rgba(25, 25, 25, 0.11);
    text-align: center;
    overflow: hidden;
}

.card-newrecipe:hover {
    height: 400px;
    cursor: pointer;
}

.card-newrecipe .header {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #e6ded3;
    margin-bottom: 16px;
}

.card-newrecipe .header .titleNewrecipe {
    padding: 4px 0 10px 0;
    transition: all 0.5s;
}

.card-newrecipe:hover .card-newrecipe .header .titleNewrecipe {
    padding: 0;
}

.card-newrecipe .content {
    display: block;
    text-align: justify;
}

.card-newrecipe .content p {
    transition: all 0.5s;
    font-size: 1em;
    margin-bottom: 8px;
}

/* form creacteRecipe */
.containerForm {
    border-radius: 10%;
    border-color: rgba(135, 132, 132, 0.9);
    background-color: white;
    font-size: 12px;
    margin-top: 20px;
}

.containerForm p {
    font-size: 14px;
}

::placeholder {
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
}

/* explicacion crear receta */
.box {
    --bg: #efe9ef;
    --hover-bg: #efe9ef;
    --hover-text: #1d1a1c;
    max-width: 30ch;
    text-align: center;
    background: #efe9ef;
    position: relative;
    overflow: hidden;
    transition-timing-function: ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.box> :not(p) {
    transition-timing-function: ease;
}

.box>strong {
    display: block;
    letter-spacing: -0.035em;
}

.box p {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--hover-text);
    top: 100%;
}

.box:hover p {
    top: 0;
}

.box:hover {
    background: #efe9ef;
}

.box:hover>div,
.box:hover>strong {
    opacity: 0;
}

/* buscador searchbar */

.searchIngredients2 {
    border-radius: 20px;
    border: 1px solid rgb(189, 183, 183);
    display: flow-root;
    margin-left: auto;
    margin-right: auto;
    outline: none;
}

.searchIngredients2:focus {
    border: 1px solid rgb(189, 183, 183);
    box-shadow: 5px 5px 15px rgba(190, 188, 188, 0.4);
}

.searchIngredients2::placeholder {
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
}

/* container recetas */
.recetas {
    margin-top: 2rem;
}

.recetas2 {
    margin-top: 2rem;
}

/* container botones catgories */
.buttonsCategory {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

/*imagenes footer*/

/* un start */

.ctaCategory {
    font-weight: 600;
}

.footer,
.diverse3 {
    background-color: #e6ded3;
}

.iconsFooter {
    font-weight: 500;
}

.suscribirse {
    margin-top: 6em;
    height: 300px;
}

/* From uiverse.io by @hritik5102 */
.suscribe {
    position: relative;
    font-weight: 600;
    height: 40px;
    padding: 12px 20px;
    outline: none;
    border: 1px solid black;
    background-color: transparent;
    border-radius: 5px;
}

.suscribe:after {
    content: "";
    position: absolute;
    width: 100%;
    top: 7px;
    left: 7px;
    height: 100%;
    background-color: #e6ded3;
    z-index: -1;
    transition: all 0.35s;
    border-radius: inherit;
}

.suscribe:hover:after {
    top: 0px;
    left: 0px;
}

/* img footer */

.footerimg,
.footerimg2 {
    width: 600px;
}

.gutternone {
    justify-content: space-between;
    --ps-gutter-x: none !important;
}

/* carousel imagen  */
.imgCarousel {
    max-width: 100%;
    width: 100%;
    min-height: 200px;
    object-fit: cover;
}

.carousel-item {
    max-height: 500px;
    min-height: 200px;
}

/* buscador home */

.searchIngredients {
    border-radius: 20px;
    border: 1px solid rgb(189, 183, 183);
    display: flow-root;
    margin-left: auto;
    margin-right: auto;
    outline: none;
}

.searchIngredients::placeholder {
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
}

.searchIngredients:focus {
    border: 1px solid rgb(189, 183, 183);
    box-shadow: 5px 5px 15px rgba(190, 188, 188, 0.4);
}