/* 
    General Styles used on every website (Don't Repeat Yourself)
*/

html,
body {
  background: #f3f1f1;
  font-family: "Poppins", sans-serif;
  width: 100%;
}
h3 {
  color: rgba(37, 37, 37, 0.9);
}
.navbar {
  background-color: #a8c197;
  font-family: "Poppins", sans-serif;
  color: rgba(37, 37, 37, 0.7);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.user,
.drop-down,
.moon {
  height: 25px;
  width: 25px;
}
.dropdown-menu {
  width: 40vh;
  font-size: 18px;
  font-weight: 300;
  color: rgba(135, 132, 132, 0.9);
}
.footer {
  background-color: #a8c197;
  font-weight: 400;
}
.diverse {
  padding: 50px 20px 30px 20px;
  width: 100%;
  height: 450px;
  background: rgba(158, 123, 67, 0.6);
  box-shadow: 20px, 0px, 10px;
}
.register,
.ingredients,
.cookbook {
  margin-bottom: 10px;
  width: 50px;
  height: 50px;
}
.instagram,
.tweet,
.pinterest {
  height: 20px;
  width: 20px;
}
.card {
  background: #fffdfd;
  border-radius: 10px;
  box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.25);
  width: 90%;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.4s linear;
}
.card:hover {
  transform: translateY(-4%);
  /* transform: scale(1.05); */
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
}
.go {
  font-size: 16px;
  font-weight: 600;
  background: #de21d7;
  border-radius: 10px;
  box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.25);
  transition: 0.4s linear;
}
.go:hover {
  background: #de21d7;
  box-shadow: 0 0 10px #e863e1, 0 0 40px #e863e1, 0 0 80px #e863e1;
}
.bars {
  color: rgba(37, 37, 37, 0.7);
}
.star {
  color: #d9d9d9;
  padding-right: 10px;
}
.recipe,
.recipeFav {
  padding-top: 30px;
}

.img-fav {
  max-height: 35vh;
}

.card-text {
  color: #000000;
  font-size: 14px;
  font-weight: 300;
  opacity: 0.7;
}
.card-text2 {
  color: #000000;
  font-size: 12px;
  opacity: 0.7;
  font-weight: 300;
}
.subscribe {
  background: #de21d7;
  border-radius: 30px;
  font-weight: 600;
  font-size: 22px;
  box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.25);
  transition: all 0.3s linear;
}
.subscribe:hover {
  background: #de21d7;
  transform: scale(1.07);
  box-shadow: 0 0 10px #e863e1, 0 0 40px #e863e1, 0 0 80px #e863e1;
}
.text3 {
  color: rgba(37, 37, 37, 0.7);
  font-size: 16px;
  font-weight: 400;
  opacity: 0, 7;
}
.text4 {
  color: rgba(37, 37, 37, 0.7);
  font-size: 20px;
  font-weight: 400;
  opacity: 0, 7;
}
.img-recipe {
  width: 100%;
  max-width: 400px;
  height: 300px;
}
.scroll-container {
  padding-top: 20px;
  padding-bottom: 20px;
  overflow-x: scroll;
  scrollbar-width: thin;
}
.title-detail {
  margin-top: 80px;
}
.text-detail {
  padding-right: 200px;
}
.sugar-free,
.lactose-free,
.gluten-free,
.vegan {
  width: 30px;
  height: 30px;
}
.card-text3 {
  color: #000000;
  font-size: 18px;
  font-weight: 300;
  opacity: 0.7;
}
.card-detail {
  width: 90%;
  height: 90%;
  position: relative;
}
.card-detail div {
  backface-visibility: hidden;
  transition: all 0.8s linear;
}
.text-back {
  color: white;
  font-size: 14px;
  font-weight: 500;
}
.front,
.back {
  height: 100%;
  width: 100%;
  cursor: pointer;
  border-radius: 20px;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.25);
}
.back {
  text-align: center;
  background-image: url("https://images.unsplash.com/photo-1588517936140-11085e6b748b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTV8fHN0cmF3YmVycnl8ZW58MHwxfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
}

.card-detail .front {
  transform: perspective(600px) rotateY(0deg);
}
.card-detail .back {
  transform: perspective(600px) rotateY(180deg);
}
.card-detail:hover .front {
  transform: perspective(600px) rotateY(180deg);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
}
.card-detail:hover .back {
  transform: perspective(600px) rotateY(360deg);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
}
